.App {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}

.content {
  height: 100%;
  width: 85%;
  overflow: hidden;
}

button{
  background-color: #fffd75 !important;
  border: none !important;
  border-radius: 25px !important;
  color: black !important;
  padding: 8px 10px;
}


